<div class="container bg-light text-dark shadow p-2"
    style="font-family: 'Righteous', sans-serif;min-height:90vh;">
    <div class="row pt-4">
        <div class="mx-auto">
            <img id="imgSalida" height="200" src='/usuarios/mostrarImagen/{{param.idUs}}' class="border border-dark" alt="foto perfil">
        </div>   <!-- param.fotoArchivo -->
    </div>

    
    <h1 class="pt-4" style="text-align: center">
            {{ param.nombre }} {{ param.apellidos }}
    </h1>

    <h3 class="pt-4">Mis datos personales:</h3>

    <blockquote><strong>Fecha de nacimiento:</strong> {{ param.fechaNac|date("d/m/Y")}}</blockquote>
    <blockquote><strong>Correo:</strong> {{ param.correo }}</blockquote>
    <blockquote><strong>Puesto de trabajo:</strong> {{ param.puesto }}</blockquote>
    <blockquote><strong>Conocimientos:</strong>
        <p>{{ param.conocimientos }}</p>
    </blockquote>
    <blockquote>
        <strong>Aficiones:</strong>
        <p>{{ param.aficiones }}</p>
    </blockquote>

    <blockquote>
        <strong>Grupos de chat:</strong>
        <p>{% for uc in param.ucs %}
            {{ uc.canal.nombre}}.
        {% endfor %}</p>
        
    </blockquote>
</div>